<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Wikipedia is a free online encyclopedia, created and edited by volunteers around the world and hosted by the Wikimedia Foundation.">
    <title>Wikipedia</title>
    <link rel="apple-touch-icon" href="https://kaustubhwedding.ronaklala.games/wikipedia.png>
    <link rel="shortcut icon" href="https://kaustubhwedding.ronaklala.games/wikipedia.ico">
    <link rel="stylesheet" href="https://kaustubhwedding.ronaklala.games/index.css">
</head>

<body>
    <div class="central-textlogo">
        <img class="central-featured-logo" src="https://kaustubhwedding.ronaklala.games/Wikipedia-logo-v2.png" width="200" height="183" alt="Wikipedia">
        <h1 class="central-textlogo-wrapper">
            <span class="central-textlogo-image sprite svg-Wikipedia-wordmark">
                Wikipedia
            </span>
            <strong class="localized-slogan">The Free Encyclopedia</strong>
        </h1>
    </div>

    <div class="central-featured">
        <div class="central-featured-lang lang1">
            <a id="js-link-box-en" href="//en.wikipedia.org/" title="English — Wikipedia — The Free Encyclopedia"
                class="link-box">
                <strong>English</strong>
                <small>
                    <bdi>6&nbsp;312&nbsp;000+</bdi>
                    <span>articles</span>
                </small>
            </a>
        </div>
        <div class="central-featured-lang lang2">
            <a id="js-link-box-ja" href="//ja.wikipedia.org/" title="Nihongo — ウィキペディア — フリー百科事典" class="link-box">
                <strong>日本語</strong>
                <small>
                    <bdi>1&nbsp;272&nbsp;000+</bdi>
                    <span>記事</span>
                </small>
            </a>
        </div>
        <div class="central-featured-lang lang3">
            <a id="js-link-box-es" href="//es.wikipedia.org/" title="Español — Wikipedia — La enciclopedia libre"
                class="link-box">
                <strong>Español</strong>
                <small>
                    <bdi>1&nbsp;690&nbsp;000+</bdi>
                    <span>artículos</span>
                </small>
            </a>
        </div>
        <div class="central-featured-lang lang4">
            <a id="js-link-box-de" href="//de.wikipedia.org/" title="Deutsch — Wikipedia — Die freie Enzyklopädie"
                class="link-box">
                <strong>Deutsch</strong>
                <small>
                    <bdi>2&nbsp;584&nbsp;000+</bdi>
                    <span>Artikel</span>
                </small>
            </a>
        </div>
        <div class="central-featured-lang lang5">
            <a id="js-link-box-ru" href="//ru.wikipedia.org/" title="Russkiy — Википедия — Свободная энциклопедия"
                class="link-box">
                <strong>Русский</strong>
                <small>
                    <bdi>1&nbsp;729&nbsp;000+</bdi>
                    <span>статей</span>
                </small>
            </a>
        </div>
        <div class="central-featured-lang lang6">
            <a id="js-link-box-fr" href="//fr.wikipedia.org/" title="Français — Wikipédia — L’encyclopédie libre"
                class="link-box">
                <strong>Français</strong>
                <small>
                    <bdi>2&nbsp;335&nbsp;000+</bdi>
                    <span>articles</span>
                </small>
            </a>
        </div>
        <div class="central-featured-lang lang7">
            <a id="js-link-box-zh" href="//zh.wikipedia.org/" title="Zhōngwén — 維基百科 — 自由的百科全書" class="link-box">
                <strong>中文</strong>
                <small>
                    <bdi>1&nbsp;201&nbsp;000+</bdi>
                    <span>條目</span>
                </small>
            </a>
        </div>
        <div class="central-featured-lang lang8">
            <a id="js-link-box-it" href="//it.wikipedia.org/" title="Italiano — Wikipedia — L'enciclopedia libera"
                class="link-box">
                <strong>Italiano</strong>
                <small>
                    <bdi>1&nbsp;698&nbsp;000+</bdi>
                    <span>voci</span>
                </small>
            </a>
        </div>
        <div class="central-featured-lang lang9">
            <a id="js-link-box-pt" href="//pt.wikipedia.org/" title="Português — Wikipédia — A enciclopédia livre"
                class="link-box">
                <strong>Português</strong>
                <small>
                    <bdi>1&nbsp;065&nbsp;000+</bdi>
                    <span>artigos</span>
                </small>
            </a>
        </div>
        <div class="central-featured-lang lang10">
            <a id="js-link-box-pl" href="//pl.wikipedia.org/" title="Angielski — Wikipedia — Wolna encyklopedia"
                class="link-box">
                <strong>Polski</strong>
                <small>
                    <bdi>1&nbsp;478&nbsp;000+</bdi>
                    <span>haseł</span>
                </small>
            </a>
        </div>
    </div>

    <div class="search-container">
        <form method="POST">
            <div class="search-input" id="search-input">
                <input id="searchInput" name="pickled" type="search" size="20" autofocus="autofocus" accesskey="F"
                    dir="auto" autocomplete="off">
            </div>
            <button class="pure-button pure-button-primary-progressive" type="submit">
                <i class="sprite svg-search-icon">Search</i>
            </button>
        </form>
    </div>

    <div class="lang-list-button-wrapper">
        <button id="js-lang-list-button" class="lang-list-button">
            <i class="sprite svg-language-icon"></i>
            <span class="lang-list-button-text jsl10n">Read Wikipedia in your language</span>
            <i class="sprite svg-arrow-down-blue"></i>
        </button>
    </div>
</body>

</html>